fastapi
uvicorn
openai
python-multipart
pydub
pydantic
python-dotenv
google-cloud-speech
google-cloud-texttospeech
git+https://github.com/openai/whisper.git
SQLAlchemy
mysql-connector-python
httpx
pymupdf
email-validator
