fastapi
uvicorn
openai
python-multipart
pydub
pydantic
python-dotenv
google-cloud-speech
google-cloud-texttospeech
mysql-connector-python
python-decouple
SQLAlchemy
git+https://github.com/openai/whisper.git

httpx
email-validator
